@{
    ViewData["Title"] = "Oops Error - Something Went Wrong";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Error" asp-action="Error">Error</a></li>
                        <li class="breadcrumb-item active"></li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-warning">Error</h2>

            <div class="error-content">
                <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! You shouldn't be trying to access resources you don't have permission to use.</h3>

                <p>
                    It appears something has broken somewhere, but don't worry, we will get it fixed soon.
                    Meanwhile, you may <a href="~/">return to the main page</a> or try using the search form to find what you're looking for.
                </p>

                <form class="search-form">
                    <div class="input-group">
                        <input type="text" name="search" class="form-control" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" name="submit" class="btn btn-warning">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.input-group -->
                </form>
            </div>
            <!-- /.error-content -->
            <div class="card-body">
                All you need in a CMS theme.
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                Some User
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.error-page -->
    </section>
    <!-- /.content -->
    <!-- /.content-wrapper -->
</div>